/*Responsividade*/

/* Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
   
}

.container{
    display: flex;
    padding: 0;
    margin: 0;
}

header{
    width: 100vw;
    background-color: #f37520;
               
}

.logo{
    
}

.menu{
    display: flex;
    list-style: none;
    font-size: 20px;
       
}

.menu ul{
  
}

.menu li{   
    color: #fff;
    padding: 10px;
    margin-right: 3px;
}

.menu-vertical{
    
    background-color: #ededed;
}

nav .menu{
   
   
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
    
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }